<div class="sidebar">
  <% if current_user %>
    <div class="sidebar-welcome">
      Welcome, <%= current_user.name %>
    </div>
    <div class="sidebar-links">
      <%= link_to "My Events", my_events_path %>
      <%= link_to "Logout", logout_path, method: :delete %>
    </div>
  <% else %>
    <div class="sidebar-login">
      <%= render 'sessions/new' %>
    </div>
    <div class="sidebar-register">
      <%= render 'users/new' %>
    </div>
  <% end %>
</div>